@media (min-width:1023px) {
    .gallery {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .gallery {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}

@media (max-width: 767px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .picture:nth-child(n+10) {
        display: none;
    }
}

body
{
    background-color: #041821;
}

main
{
    font-family: 'Yeseva One';
}

.intro
{
    display: flex;
    align-items: center;
    color: white;
    background-color: #041821;
    position: sticky;
    top: 0;
}

.green
{
    color: #1bd79e;
}

#title
{
    font-weight: 100;
}

#socials
{
    background-color: #041821;
    position: absolute;
    right: 1%;
}

#socials span
{
    margin-inline: 0 10px;
}

#separator
{
    border: 1px solid #334752;
}

.content
{    
    display: flex;
    flex-direction: column;
}

#whoami
{
    font-size: 250%;
    color: white;
    padding-inline: 10%;
}

#lorem-ipsum
{
    font-family: 'Calibri';
    font-weight: bold;
    padding-inline: 10%;
    margin-right: 39%;
    color: #666f6d;
}


#title
{
    margin-left: 1%;
    color: white;
}

.image-types
{
    text-align: center;
}

button
{
    color: white;
    background-color: #041821;
    border: none;
    margin: 1%;
    height: 25px;
    font-family: 'Montserrat', regular;
    letter-spacing: .2rem;
}

.portrait
{
    background-color: #1bd79e;
}

.gallery
{
    display: grid;
    margin: 0 auto;
    max-width: 79vw;
    column-gap: 6px;
    row-gap: 2px;
}

.picture
{
    width: 100%;
    height: auto;
}

.picture img
{
    width: 100%;
}
/*
.picture:nth-child(n+11)
{
    display: none;
}
*/
footer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    justify-content: flex-end;
    color: #666f6d;
    font-family: 'Calibri';
}

#copyright
{

}

#course-title
{
    font-size: 80%;
}